<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主题</title>
    <link rel="stylesheet" href="../css/hotspots-b.css">
</head>
<body>
<div class="containe-fuild simpleLayout" id="hotspotContainer">
    <div class="simpleLayout-main simpleLayout-main-height">
        <div class="simpleLayout-main-con-left text-center hotspot-simpleLayout-main-con-left-extend">
            <div class="right-top">
                <div class="containe-fuild simpleLayout">
                    <div class="simpleLayout-main simpleLayout-main-inner-top">
                        <div class="simpleLayout-main-con-right hotspot-simpleLayout-main-con-right-extend">
                            <div class="hotspot-new-content">
                                <div class="content-header">
                                    <div class="title">
                                    </div>
                                    <div class="info clearfix">
                                        <div class="left">
                                            <span class="source"></span>
                                            <span class="author"></span>
                                            <span class="time"></span>
                                        </div>
                                        <div class="right">
                                            <div class="setting-font big">
                                                <span class="ico-read ico-font-big"></span>
                                                <span class="hand">字体</span>
                                            </div>
                                            <!--<div class="read-pdf">-->
                                                <!--<span class="ico-read-pdf"></span>-->
                                                <!--<span class="hand">原文</span>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="content-body">
                                    <div class="stock-box">
                                        <span class="name"></span>
                                        <!--<span class="code"></span>-->
                                        <!--<span class="color price"></span>-->
                                        <!--<span class="color change"></span>-->
                                        <!--<span class="color rate"></span>-->
                                    </div>
                                    <div class="fu-title">

                                    </div>
                                    <div class="acticle big-font">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simpleLayout-right hotspot-simpleLayout-right-extend">
                        <div class="title-banner">
                            主题追踪
                        </div>
                        <div class="container1 spot-container">

                        </div>
                        <div class="title-banner">
                            相关主题
                        </div>
                        <div class="container1 relitive-container">
                            <!--<button type="button" class="buttton spot-tips-default">主题标签</button>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-center">
                <div class="title">
                </div>
            </div>
            <div class="right-bottom">
                <ul class="navgn navgn-pillsText lanmu3 clearfix">
                    <li class="active re-stockcodes" ><a href="#" >相关股票池</a></li>
                    <li><a href="#" >个股报告</a></li>
                    <li><a href="#" >行业报告</a></li>
                    <li><a href="#" >新闻</a></li>
                    <div id="setting-down" class="right hand setting-down" >
                        <span class="ico-16x16px ico-download-16px"></span>
                        <span class="info-name">导出</span>
                    </div>
                </ul>
                <div class="gg-grid gg-grid1"></div>
                <div class="gg-grid gg-grid2 hidden"></div>
                <div class="gg-grid gg-grid3 hidden"></div>
                <div class="gg-grid gg-grid4 hidden"></div>
                <div class="-has-no-data- hidden">暂无数据</div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
    <div class="simpleLayout-left text-center hotspot-simpleLayout-left-extend">

        <div class="hotspot-fixed-top-box">
            <div class="search-box clearfix">
                <div class="-search-input-">
                    <span class="-ico-search-"></span>
                    <input type="text" class="-input-" id="searchKey" placeholder="输入主题名称" maxlength="32">
                </div>
                <div class="-search-btn-">
                    <span class="-btn- -active-">开始挖掘</span>
                </div>
                <div class="error-tips"></div>
            </div>
            <div class="radio-box">
                <ul class="navgn navgn-pillsText clearfix">
                    <li class="active"><a href="#" >推荐主题</a>
                    </li>
                    <li><a href="#" >最新热点</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hotspot-list-bottom-box">
            <div class="hotspot-list-bottom-con"></div>

            <!--<div class="hotspot-list " data-value="3440515" source_type="2" guid="57D693D4-91A3-42FD-9A19-DA2C4B50D2BA">-->
                <!--<div class="hotspot-list-title" title="上海医药公司季报点评：业绩增速超预期，DTP等创新业务继续推进">上海医药公</div>-->
                <!--<div class="hotspot-list-time">发布时间：<span>2016-04-29 21:36:32</span></div>-->
                <!--<div class="hotspot-list-title" title="上海医药公司季报点评：业绩增速超预期，DTP等创新业务继续推进">上海医药：业绩增速超预期，DTP等创新业务继续推进</div>-->
                <!--<div class="hotspot-list-tip">-->
                    <!--<button type="button" class="buttton btn-tips-default light-gray-bg">超预期</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="hotspot-list " data-value="3440515" source_type="2" guid="57D693D4-91A3-42FD-9A19-DA2C4B50D2BA">-->
                <!--<div class="hotspot-list-title" title="上海医药公司季报点评：业绩增速超预期，DTP等创新业务继续推进">上海医药公</div>-->
                <!--<div class="hotspot-list-time">发布时间：<span>2016-04-29 21:36:32</span></div>-->
                <!--<div class="hotspot-list-title" title="上海医药公司季报点评：业绩增速超预期，DTP等创新业务继续推进">上海医药：业绩增速超预期，DTP等创新业务继续推进</div>-->
                <!--<div class="hotspot-list-tip">-->
                    <!--<div class="stock-box">相关股：-->
                        <!--<span class="name">股票名称</span>-->
                        <!--<span class="color rate">+2%</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
<script src="../js/gogoal.js"></script>
<script src="../js/frame/require.js"></script>
<script>
    require(['../js/main'],function(){
        require(['js/hotspots/hotspots'],function(hotspots){
            hotspots.init();
//          hotspotsRelitiveStock.init('000001;000006');
//          hotspotsSearch.init('股票');
//            hotspotsChart.init('高铁')
        })
    })
</script>
</html>